body{
    background-image: url("background.jpg");
    background-size: cover;
}

.container{
    background-color: rgb(0, 0, 0, 0.5);
    width: min-content;
    margin: auto;
    border-radius: 20px;
    padding: 100px;
}

header img{
    width: 200px;
}

header h1{
    color: rgb(45, 218, 2);
}

header{
    text-align: center;
}

.buttons{
    padding: 7px;
    text-align: center;
    background-color: rgb(45, 218, 2);
}

main{
    color: white;
    width: 700px;
    margin: auto;
}

main h2{
    display: inline;
}

main span{
    display: block;
}

main > section{
    margin-top: 15px;
}

#battery1{
    background: orange;
    width: 280px;
    height: 30px;
    border-radius: 10px;
}

#battery2{
    background: rgb(45, 218, 2);
    width: 500px;
    height: 30px;
    border-radius: 10px;
}

#battery3{
    background: red;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}